<%= render 'partials/header' %>

<div class="content-padded">

  <div class="subheader">
    <h3>Choose an adventure</h3>
  </div>

  <div class="challenge__container">

    <ul class="table-view">

      <% 10.times do %>
        <div class="challenge__item">
          <img class="challenge__image" src="http://i.imgur.com/CveMZTU.jpg">
          <span class="challenge__desc">Flower Challenge</span>
        </div>
      <% end %>

    </ul>

  </div>

</div>