<div class="content content-padded">

  <div class="subheader">
    <h3>Choose an adventure</h3>
  </div>

  <div class="challenge__container">

    <ul class="table-view">

      <% @hunts.each do |hunt| %>
        <%= link_to("/dashboard/view_hunt?hunt=#{hunt.id}", { 'data-ignore' => 'push' }) do %>
          <div class="challenge__item">
            <span class="challenge__desc"><%= hunt.name %></span>
            <img class="challenge__image" src="<%= hunt.image %>">
          </div>
        <% end %>
      <% end %>

    </ul>

  </div>

</div>

