<div class="content-padded">

  <div class="container__body">
    <img class="background-image" src="http://i.imgur.com/3oreVS5.jpg" />
    <h1>GardenHunt</h1>
    <h2>Lorem ipsum dolor sit amet</h2>
  </div>

  <div class="container__foot">
    <a href="<%= signin_path %>" class="btn btn-primary btn-block login" data-ignore="push">
      <i class="fa fa-facebook-official"></i>
      Signup with Facebook
    </a>
  </div>

</div>