@import "global_mobile";


body.dashboard {

  .content-padded {
    margin: 0;
  }

  &.landing_page {

    .container__body {
      .background-image {
        zoom: 88%;
        margin-left: -400px;
        opacity: .8;
      }

      .description {
        position: absolute;
        text-align: center;
        top: 32%;
        width: 100%;
        padding: 1rem;
        font-size: 32px;

        h1, h4 {
          color: $white;
          word-wrap: break-word;
        }
      }
    }

    .container__foot {
      margin: 0;
      position: absolute;
      bottom: 0;
      width: 100%;

      .login {
        margin: 0;
      }
    }

  }

  &.choose_challenge {

    .subheader {
      padding: 1rem;
      text-align: center;
      font-family: $font-family;
      background-color: $primary-color;

      h3 {
        color: $white;
        font-weight: $font-weight-normal;
      }
    }

    .challenge__container {

      .challenge__item {
        position: relative;
        margin-top: -6px;

        &:hover {
          cursor: pointer;
        }

        .challenge__image {
          width: 100%;
        }

        .challenge__desc {
          position: absolute;
          text-align: center;
          top: 40%;
          width: 100%;
          color: $white;
          font-family: $font-family;
          font-size: 32px;
        }
      }
    }
  }

}